#root {
    --nice-color: #F8F8F8;
    --text-size: 1.5rem;
    --highlight-color: #e7e4e4;
}

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;


}

.nav-container {
    display: flex;
    justify-content: center;
    
    height: 100%;
    width: 300px;
    background-color: var(--nice-color);
    border-radius: 30px;
    flex: 1;
    position: fixed;
}

.elements {
    padding-top: 10px;
    list-style: none;
    margin: 10px;
    cursor: pointer;
    font-size: var(--text-size);
   
    width: 300px;
   
}

.elements:hover {
    background-color: var(--highlight-color);
    width: 90%;
    border-radius: 8px;
}



.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: var(--nice-color);
}

.top-row-elements {
    list-style: none;
    margin: 15px;
    cursor: pointer;
    font-size: var(--text-size);
}
.top-row-elements:hover {
    background-color: var(--highlight-color);

    border-radius: 8px;
}
.elements2{
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: horizontal-tb;
    
}